<?xml version="1.0" encoding="utf-8"?>
<pretext
    lang="pt"
    dir="textos"
    log="pretext.log"
    silence="off">

    <maid>
        <number/>
        <html/>
        <simbols/>
        <stoplist dir="stoplist">
           
            <stopfile>ingl.xml</stopfile>
        </stoplist>
        <stemming dir="steminfo"/>
    </maid>

    <ngram dir="ngraminfo">
        <gram n="3"/>
        
    </ngram>

    <report
        ngramdir="ngraminfo"
        discover="discover"
        graphics="graphics"
        taxonomy="taxonomia.txt"
        transpose="disabled">

        <gram n="3"
            max="500"
            min="40"
            minfiles="39"
            measure="tf"
            smooth="disabled"/>
      
    </report>
</pretext>


















































































































































