<?xml version="1.0" encoding="utf−8"?>
<pretext
	lang="en"
	dir="baseDados"
	log="pretext.log"
	silence="off">

	<maid>
		<number/>
		<html/>
		<simbols/>
		<stoplist dir="pastaStoplist">
			<stopfile>verbos.xml</stopfile>
		</stoplist>
		<stemming dir="steminfo"/>
	</maid>

	<ngram dir="ngraminfo">
		<gram n="1"/>
		<gram n="2"/>
	</ngram>

	<report
		ngramdir="ngraminfo"
		discover="discover"
		graphics="graphics"
		taxonomy="taxonomia.txt"
		transpose="disabled">

		<gram n="1"
			measure="tf"
			smooth="disabled"
		/>
		<gram n="2"
			measure="tf"
			smooth="disabled"
		/>

	</report>
</pretext>

